<div class="flashcard">
    <div class="flashcard__flipper">
        <div class="flashcard__face flashcard__face--front">
            <div class="flashcard__content">
                <p>{{card.question}}</p>
            </div><!--/.flashcard__content-->
        </div><!--/.flashcard__face-->
        <div class="flashcard__face flashcard__face--back">
            <div class="flashcard__content">
                <p>{{card.answer}}</p>
                <button class="flashcard__next-btn js-next-btn">Next Card</button>
            </div><!--/.flashcard__content-->
        </div><!--/.flashcard__face-->
    </div><!--/.flashcard__flipper-->
</div><!--/.flashcard-->