<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/styles/app.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>Flash Cards</title>
</head>
<body>

    {{#if username}}
        <form class="logout" action="/goodbye" method="post">
            <button type="submit" class="logout__btn">
                <span class="fas fa-sign-out-alt"></span>
            </button><!--/.logout__btn-->
        </form><!--/.logout-->
    {{/if}}

    <main class="main {{#if loginView}}main--login{{/if}}">
        {{{body}}}
    </main><!--/.main-->
    
</body>
</html>