{{#if browserIsIE}}
    <div class="sad-trombone">
        <img src="http://s2.quickmeme.com/img/7a/7aea4f781db65ede2a09aecc1b26223645dc9b905bf62e37bcfb4cf3be6c7ae6.jpg" alt="Why are you using IE?" />
        <h1>Just download <a href='https://www.google.com/chrome/'>a real browser</a>. Please. Think of the children.</h1>
    </div><!--/.sad-trombone-->
{{else}}
    <form class="login" action="/hello" method="post">
        <label for="username">Your name, please:</label>
        <input type="text" id="username" name="username" />
        <button type="submit">
            <span class="fas fa-sign-in-alt"></span>
        </button><!--/button-->
    </form><!--/.login-->
{{/if}}