<div class="home">
    <h3 class="home__heading">Welcome, {{username}}!</h3>

    <div class="theme-selection">
        <form action="/" class="theme-selection__form" method="post">
            <legend class="theme-selection__heading">Select a theme:</legend>
            {{#each themes as |theme|}}
                <div class="theme-selection__theme">
                    <input type="radio" name="theme" id="{{theme}}" value="{{theme}}"/>
                    <label for="{{theme}}">{{theme}}</label>
                    <span class="fas fa-check"></span>
                </div><!--/.theme-selection__theme-->
            {{/each}}
            <button type="submit" class="theme-selection__btn js-theme-btn" disabled>Begin</button>
        </form><!--/.theme-selection__form-->
    </div><!--/.theme-selection-->

    <div class="countdown">
        <span>Ready...</span>
        <span>Set...</span>
        <span>Go!</span>
    </div><!--/.countdown-->
</div><!--/.home-->

<script type="text/javascript" src="/static/js/home.js"></script>
