{{#if matchedTheme}}
    <a href="/" class="theme-btn">Change theme</a>
{{/if}}

<section class="review">

    <div class="review__header">
        <h2 class="review__theme">You are reviewing: <span>{{matchedTheme}}</span></h2>
        <h2 class="review__card-count">Cards left: <span class="js-card-count"></span></h2>
    </div><!--/.review__header-->
    
    <div class="flashcard-deck">
        {{#each cards as |card|}}
            {{> flashcard card=card}}
        {{/each}}
    </div><!--/.flashcard-deck-->

    <div class="try-again">
        <h3>Which way, {{username}}?</h3>
        <div class="choices-wrap">
            <a href="/review">Try again</a>
            <a href="/">Choose another theme</a>
        </div><!--/.choices-wrap-->
    </div><!--/.try-again-->

</section><!--/.review-->

<script type="text/javascript" src="/static/js/review.js"></script>

