<h3>Pick a theme:</h3>

<form action="/" method="post">
    {{#each themes as |theme|}}
        <label for="{{theme}}" style="text-transform: capitalize;">
            <input type="radio" name="theme" id="{{theme}}" value="{{theme}}"/>{{theme}}
        </label>
    {{/each}}
    <button type="submit">Begin</button>
</form>