.flashcard {
    background: #fff;
    border: 1px solid red;
    box-sizing: border-box;
    display: inline-block;
    height: 360px;
    padding: 10px 15px;
    vertical-align: bottom;
    width: 260px;
    font-size: 20px;
}

.theme-option {
    display: block;
    margin-bottom: 20px;
}