////
// Flashcard
////

.flashcard-deck {
    animation: cardIntro 0.5s ease-in-out;
    animation-fill-mode: forwards;
    height: 400px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    transform: translateX(-100%);
    white-space: nowrap;
} // .flashcard-deck

.flashcard {
    cursor: pointer;
    display: inline-block;
    height: 360px;
    perspective: 1000px;
    pointer-events: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: bottom;
    width: 260px;
    z-index: 10;

    @for $i from 2 through 10 {
        &:nth-child(#{$i}) {
            opacity: 0;
        } // .flashcard:nth-child(#{$i})
    } // @for $i from 2 through 10

    &:first-child {
        @extend .flashcard--active;
    } // .flashcard:first-child
    
    &__flipper {
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        position: relative;
        transform-style: perserve-3d;
        transition: 0.6s;
    } // .flashcard__flipper

    &__face {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: #fff;
        border: 1px solid lighten(#000, 15%);
        border-width: 1px 2px 1px 1px;
        border-radius: 12px;
        box-sizing: border-box;
        height: 360px;
        left: 0;
        position: absolute;
        top: 0;
        width: 260px;
    } // .flashcard__face

    &:nth-child(odd) {
        .flashcard__face--front {
            background: $pink;
        } // .flashcard__face--front
    } // .flashcard:nth-child(odd)

    &:nth-child(even) {
        .flashcard__face--front {
            background: lighten($orange, 7%);
        } // .flashcard__face--back
    } // .flashcard:nth-child(even)

    &__face--front {
        color: #fff;
        z-index: 2;
        transform: rotateY(0deg);
    } // .flashcard__face--front

    &__face--back {
        background: #fff;
        color: $purple;
        font-weight: 700;
        transform: rotateY(180deg);
    } // .flashcard__face--back

    &__content {
        justify-content: center;
        display: flex;
        padding: 10px 20px;
        flex-direction: column;
        font-size: 20px;
        height: 100%;
        opacity: 0;
        white-space: normal;
        text-align: center;
        user-select: none;
    } // .flashcard__content

    &__next-btn {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: #fff;
        border: 1px solid #000;
        border-radius: 4px;
        font-size: 14px;
        padding: 10px 5px;
        margin-top: 25px;
    } // .flashcard__next-btn
} // .flashcard

.flashcard--flipped {

    .flashcard__flipper {
        transform: rotateY(180deg);
    } // .flashcard__flipper
} // .flashcard--flipped  

.flashcard--active {
    pointer-events: auto;

    .flashcard__content {
        opacity: 1;
    } // .flashcard__content
} // .flashcard--active

.flashcard--hidden {
    animation: cardSlideUp 0.3s ease-in-out;
    animation-fill-mode: forwards;
} // .flashcard--hidden

.flashcard--spread {
    $leftValue: 225;
    $zValue: 9;
    $delay: 0.5;
    
    @for $i from 2 through 10 {
        &:nth-child(#{$i}) {
            left: -#{$leftValue}px;
            opacity: 1;
            transition: opacity 0.1s linear;
            transition-delay: #{$delay}s;
            z-index: $zValue;
            $leftValue: $leftValue + 225;
            $zValue: $zValue - 1;
            $delay: $delay + 0.1;
        } // .flashcard:nth-child(#{$i})
    } // @for
} // .flashcard--intro