.header {
    -webkit-box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px -12px rgba(0,0,0,0.75);
    position: relative;
    width: 100%;

    &__inner {
        padding: 15px 25%;
    }

    &__title {
        font-size: 25px;
        font-weight: 700;
    }
}