////
// Helpers
////

.h-fade-out {
    animation: fadeOut 0.5s ease-in-out;
    animation-fill-mode: forwards;
} // .h-fade-out

.h-fade-in {
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
} // .h-fade-in