.sad-trombone {
    margin-top: 30px;
    text-align: center;

    h1 {
        font-size: 25px;
        margin-top: 20px;
    } // h1

    a {
        color: #fff;
    } // a
} // .ie

.login {
    border-radius: 4px;
    color: black;
    padding: 50px 0;
    text-align: center;

    > * {
        vertical-align: middle;
    } // .login > *

    label {
        font-size: 25px;
    } // label

    input {
        border: 1px solid black;
        border-radius: 4px;
        font-size: 25px;
        line-height: 40px;
        margin-left: 5px;
        padding-right: 10px;
        padding-left: 10px;
    } // input

    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: $green;
        border: none;
        border-radius: 50%;
        display: inline-block;
        font-size: 25px;
        font-weight: 700;
        height: 45px;
        padding: 0;
        width: 45px;
    
        svg {
            color: #fff;
        } // svg
    } // button
} // .login