////
// Home
////

.home {
    color: #000;
    overflow: auto;
    padding: 50px;
    position: relative;
    
    &__heading {
        font-size: 35px;
    } // .home__heading
} // .home

.theme-selection {
    display: inline-block;    
    margin-top: 50px;
    overflow: auto;
    
    &__heading {
        font-size: 25px;
        margin-bottom: 25px;
    } // .theme-selection__heading

    &__form {
        clear: left;
        float: left;
    } // .theme-selection__form

    &__theme {
        border-bottom: 1px solid $purple;
        margin-bottom: 10px;
        padding-bottom: 5px;
        position: relative;
        text-transform: capitalize;
    } // .theme-selection__theme

    label {
        cursor: pointer;
        font-size: 20px;
    } // label

    .fa-check {
        color: $green;
        font-size: 20px;
        opacity: 0;
    } // .fa-check

    input {
        opacity: 0;
        position: absolute;
        z-index: -1;
    } // input

    input:checked ~ label {
        font-weight: 700;
    } // input:checked ~ label

    input:checked ~ .fa-check {
        opacity: 1;
    } // input:checked ~ .fa-check

    &__btn {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: $green;
        border: 1px solid $green;
        border-radius: 4px;
        color: #fff;
        font-size: 20px;
        margin-top: 25px;
        outline: none;
        padding: 15px;
        width: 100%;

        &:disabled {
            background: #fff;
            border: 1px solid #000;
            color: #000;
        }
    } // .theme-selection__btn
} // .theme-selection

.countdown {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    

    span {
        font-size: 50px;
        margin-right: 25px;
        opacity: 0;
    } // span
} // .countdown

.countdown--start {

    span {
        @extend .h-fade-in;

        $delay: 1;
        
        @for $i from 2 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: #{$delay}s;
                $delay: $delay + 1;
            } // span:nth-child(#{$i})
        } // @for $i from 2 through 3
        
        &:last-child {
            font-weight: 700;
        } // span:last-child
    } // span
} // .countdown--start