////
// Keyframes
///

@keyframes loginIntro {
    100% {
        transform: translateY(0);
    }
} // @keyframes loginSlide

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} // @keyframes fadeIn

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} // @keyframes fadeOut

@keyframes cardIntro {
    100% {
        transform: translateX(0);
    }
} // @keyframes cardIntro

@keyframes cardSlideUp {
    100% {
        transform: translateY(-205%);
        display: none;
    }
} // @keyframes cardSlideUp

@keyframes tryAgain {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, 175%);
        opacity: 1;
    }
} // @keyframes tryAgain

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
        transform-origin: center center;
    }
    100% {
        transform: scale(1);
    }
} // @grow