////
// Main
////

.main {
    -webkit-box-shadow: 25px 25px 30px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 25px 25px 30px -30px rgba(0,0,0,0.75);
    background: #fff;
    border-radius: 10px;
    box-shadow: 25px 25px 29px -30px rgba(0,0,0,0.75);
    color: #fff;
    margin: 60px auto 0;
    width: 1000px;
} // main

.main--login {
    animation: loginIntro 0.5s ease-out;
    animation-fill-mode: forwards;
    transform: translateY(-150%);
} // .main--login

.logout {

    &__btn {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: $pink;
        border: none;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-radius: 0 0 0 6px;
        font-size: 25px;
        height: 50px;        
        position: fixed;
        right: 0;
        top: 0;
        width: 50px;
    
        svg {
            color: #fff;
        } // svg
    } // .logout__btn
} // .logout