////
// Review
////

.review {
    color: #000;
    padding: 50px;
    position: relative;
    overflow: hidden;

    &__header {
        line-height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } // .review__header

    &__theme,
    &__card-count {
        font-size: 20px;

        span {
            display: inline-block;
            font-weight: 700;
            text-transform: capitalize;
        } // span
    } // .review__theme, .review__card-count

    &__card-count {
        span {
            animation: grow 0.5s ease-in-out;   
            font-size: 25px;   
        } 
    }
} // .review

.theme-btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: $green;
    border: none;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;   
    padding: 5px;    
    position: fixed;
    top: 10px;
    right: 75px;
    text-decoration: none;
} // .theme-btn

.try-again {
    display: none;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;

    h3 {
        font-size: 30px;
    } // h3

    .choices-wrap {
        margin-top: 50px;
        
        a {
            background: $purple;
            border-radius: 3px;
            color: #fff;
            font-size: 20px;
            padding: 15px;
            text-decoration: none;

            &:last-child {
                background: $green;
            } // a:last-child
        } // a
    } // .choices-wrap
} // .try-again

.try-again--active {
    display: block;
    animation: tryAgain 0.5s ease-in-out;
    animation-fill-mode: forwards;
} // .try-again--active