////
// Typography
////

// Open Sans: regular, regular italic, bold
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

$open-sans: 'Open Sans', sans-serif;
$font-primary: $open-sans;